<!-- selecet 화면 -->

<h1>{{ title }}</h1>

<table>
  <tr>
    <td>Dname</td>
    <td>Dnumber</td>

  </tr>
  {{#each department}}
  <tr>
    <td>{{Dname}}</td>
    <td>{{Dnumber}}</td>

  </tr>
  {{/each}}
</table>

<!-- 프로젝트 화면 추가 -->
<h1>{{ title2 }}</h1>

<table>
  <tr>
    <td>Pname</td>
    <td>Pnumber</td>

  </tr>
  {{#each project}}
  <tr>
    <td>{{Pname}}</td>
    <td>{{Pnumber}}</td>

  </tr>
  {{/each}}
</table>